BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
AlignOperands: Align
BreakBeforeBinaryOperators: true
BinPackParameters: false
BinPackArguments: false
BreakConstructorInitializers: BeforeComma
AccessModifierOffset: -4
ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakTemplateDeclarations: true
IndentCaseBlocks: true
IndentCaseLabels: true
AllowAllParametersOfDeclarationOnNextLine: true